[Unit]
Description=secretary
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/root/Bots/ivanvit/venv/bin/python3 /root/Bots/ivanvit/main.py

[Install]
WantedBy=multi-user.target